.flexbox{
    display: flex;
    width: 355px;
    height: 96px;
    margin-bottom: 6.625rem;
    margin-left: 16.25rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.20);
    padding: 20px;

    h1{
        padding-left: 5.25rem;
        color: var(--color-primary);
    }
}

.div{
    display: flex;
    flex-direction: column;
    gap: 0.5625rem;
}