:root{
    --color-primary: #FD377E;
    --color-primary2: #e34981;
    --color-secundary: #03b898;

    --color-grey4: #212529;
    --color-grey3: #868e96;
    --color-grey2: #e9ecef;
    --color-grey1: #f8f9fa;

    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Nunito', sans-serif;
}


